h1 {
    color:red;
}

p,li {
    color:cadetblue;
}

li {
    list-style-type: square;
}
span.special,
li.special {
    color:orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1+p {
    font-size: 200%;
}

a:link {
    color: pink;
}
a:visited {
    color:black;
}
a:hover {
    text-decoration: none;
}

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}